@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
.hide-scrollbar {
  -ms-overflow-style: none !important; 
  scrollbar-width: none !important;    
}
.hide-scrollbar::-webkit-scrollbar {
  display: none !important;   
       
}
button{
  cursor: pointer;
}

.zoom-container {
  position: relative;
}

.zoom-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.zoom-large {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
